:root {
    --bg-color: #ffffff;
    --text-color: #111111;
}

[data-theme="dark"] {
    --bg-color: #111111;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 1s, color 1s;
}

header {
    font-family: 'Barlow Semi Compressed', sans-serif;
    font-weight: 700;
    display: flex;
    margin: 1.5%;
}

nav {
    display: flex;
    padding-left: 2%;
}

nav h2 {
    padding-left: 2%;
    padding: 1.5%;
    position: relative;
    top: 6%;
    transition-duration: 0.4s;
}

nav h2:hover {
    top: 6.4%;
    padding-top: 6.4%;
}

.main-hero-title {
    font-size: 3.6rem;
    line-height: 1.1;
    letter-spacing: -0.05em;
    padding: 0%;
}

#theme-toggle {
    position: relative;
    width: 7%;
    height: 2%;
    margin: 1.5%;
    top: 4%;
    left: 52%;
}